.container{
    margin-top: 5%;
    margin-bottom: 2%;
}

nav{
    background-color: black;
    color:white;
}
#id{
   width: 100%;
}
#nombres{
    width: 100%;
 }
#apellidos{
    width: 100%;
}
#Correo{
    width: 100%;
}
#numero{
    width: 100%;
}
.card-header{
    color: white;
}
.Perfil{
    margin-right: 8%;
}
.card-header{
    color: white;
}
.container{
    padding-top: 3%;
}
.btn{
    display: block;
}
.btn.green{
    background-color:  #ffc107!important;
    color: white;
}
.btn.red{
    background-color: rgb(252, 65, 65);
    color: white;
}